<h2>All users</h2>
<table>
	<tr>
		<th>User Id</th>
		<th>User Name</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td> 
			<td><%= link_to user.name, user %></td>
		</tr>
	<% end %>

