<h1><%= @user.name %></h1>

<h2>Created Events</h2>
<table>
	<tr>
		<th>Event Name</th>
		<th>Date</th>
	</tr>
	<% @user.created_events.each do |event| %>
		<tr>
			<td><%= event.name %></td>
			<td><%= event.date %></td>
		</tr>
	<% end %>
</table>