<h2>All events</h2>
<table>
	<tr>
		<th>User Id</th>
		<th>Event Name</th>
	</tr>
	<% @events.each do |event| %>
		<tr>
			<td><%= event.id %></td> 
			<td><%= link_to event.name, event %></td>
		</tr>
	<% end %>

