<h2>All events</h2>
<table>
	<tr>
		<th>Past Events</th>
		<th>Future Events</th>
	</tr>
	<tr>
		<% @past_events.each do |event| %>
			<td><%= link_to event.name, event %></td>
		<% end %>
	</tr>
	<tr>
		<% @upcoming_events.each do |event| %>
			<td><%= link_to event.name, event %></td>
		<% end %>
	</tr>
	

