<table>
	<tr>
		<th>Event Name</th>
		<th>Date</th>
	</tr>
		<tr>
			<td><%= @event.name %></td>
			<td><%= @event.date %></td>
		</tr>
</table>

<h1>Attendees</h1>
<% if @event.attendees.any? %>
	<% @event.attendees.each do |attendee| %>
		<p><%= link_to attendee.name, attendee %></p>
	<% end %>
<% end %>
